In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Kredivo.csv")

In [3]:
df

,userName,score,at,content
0,Pengguna Google,5,2024-09-08 02:58:28,Kredivo sangan membatu thebest bnget. Tapi ada...
1,Pengguna Google,5,2024-09-08 02:58:08,Membantu...
2,Pengguna Google,1,2024-09-08 02:56:44,"Perhatian ,Tolong para pengguna dan yg punya a..."
3,Pengguna Google,5,2024-09-08 02:55:35,Kren
4,Pengguna Google,5,2024-09-08 02:54:51,aplikasi yang sangat membantu kebutuhan dengan...
...,...,...,...,...
99995,Konslet gaming,2,2024-02-28 04:54:05,saya daftar kok slalu gk lolos perifikasi ya s...
99996,Jhar Ketie,5,2024-02-28 04:53:37,Mksih
99997,Yoyok Haryanto,4,2024-02-28 04:51:08,ok
99998,Joko Prahoro,3,2024-02-28 04:50:36,"Saya kurangi bintang 2 dulu, saya kecewa karen..."
99999,Andry Suherman,5,2024-02-28 04:48:37,ok

In [4]:
df.isnull().sum()

userName    0
score       0
at          0
content     0
dtype: int64

In [5]:
df.duplicated().sum()

0

In [14]:
df.groupby("score")["content"].count()

       userName     at  content
score
1         11031  11031    11031
2          1982   1982     1982
3          2386   2386     2386
4          4164   4164     4164
5         80437  80437    80437